/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
	font-family: 'Roboto', serif;
	font-size: 20px;
	line-height: 23px;
	font-weight:600;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
	color: #777;
	background: #000;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', serif;
	color:#fff;
	font-weight: normal;
	letter-spacing: 1px;
}
h1{font-size: 63px; line-height: 70px; padding: 0; margin: 0;}
h5{font-size: 28px; line-height: 35px; padding: 0; margin: 0; color: #b7b7b7;}

a {
	color: #b7b7b7;
	text-decoration:none;
	font-weight: normal;
}
a:hover {text-decoration:underline;}


#maximage {
	display:none;
	position:fixed !important;
}

.gradient {
	left:0;
	height:100%;
	position:absolute;
	top:0;
	width:100%;
	z-index:999;
}

.show{display: block;}
.hide{opacity: 0;}

/* Set Page Elements */
.content {
	float:left;
	margin:40px;
	position:absolute;
	top:200px;
	width:600px;
	z-index:9999;
	-webkit-font-smoothing:antialiased;
}

.main-nav{
	position: absolute;
	bottom: 5%;
	left: 5%;
	z-index:1001;
}
.main-nav ul li {
	list-style: none;
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left: 1px solid #b7b7b7;
}
.main-nav ul li a.active {color: #ffa800;}