body{
  font-family: 'Roboto', sans-serif;
}
html {
  background: url('https://images.unsplash.com/photo-1425342605259-25d80e320565?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&dl=amanda-sandlin-10508.jpg&s=b8b57421f253314873add1d97dc6f50f, ')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
  font-size: 50px;
  color: rgb(197, 207, 216);
  text-shadow: 5px 5px 5px rgb(139, 145, 150);
}
