body {
	font-family: 'Roboto';
}

#welcome {
	margin-top: 40px;
	
}

#links {
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #fafafa;
	line-height: 2;
}
.row {
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #fafafa;
}

#projects {
	margin-top: 40px;
}

#contact {
	margin-top: 40px;
}

#header {
	font-weight: 700;
}

#sh {
	text-indent: 20px;
	font-weight: 500;
}
p {
	font-size: 13pt;
	text-indent: 20px;
	text-decoration-color:  #212121;
}

h5 i {
	margin-left: 15px;
	padding: 10px;
}

a i {
	margin-right: 10px;
}

a {
	color:  #212121;
	text-decoration: none;
}