.top {
    margin-top: 5%;
}

.contact {
    display: none;
    margin-top: 7%;
}

.center{
    width: 50%;
    margin: 0 auto;
}

.about {
    display: none;
}

i {
    margin-left: 5%;
}

hr {
    width: 70%;
    margin-right: 33%;
}